.p-20 {
  padding: 20px;
}

/*MAIN COLORS*/
.main-background {
  background-color: #282c34;
}

.main-border-color {
  border-color: #282c34;
}

/*LINKS*/
a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}

/*FORMS*/
label {
  font-size: 0.8rem;
  color: #585858;
}

input {
  width: 100%;
  line-height: 25px;
  margin: 5px 0 15px 0;
  padding: 0 5%;
  border: 0px solid #000000;
  border-bottom-width: 1px;
  background: rgba(0,0,0,0);
}

input:active, :focus, :hover {
  border-color: #282c34;
}

button {
  cursor: pointer;
}